<form method="POST" action="/new">
    <label for="user"></label>
    <input type="text" id="user" name="user" placeholder="name">
    
    <label for="messageUser"></label>
    <input type="text" id="messageUser" name="messageUser" placeholder="message">

    <button type="submit">Send message</button>
 </form>